<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82D8CE661E3F937F00CCD9FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82D8CE7A1E3F937F00CCD9FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82D8CE851E3F938000CCD9FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
